<div class="card custom-card">
    <div class="card-header">
        <div class="card-title">
            Daily Fund Performance
        </div>
    </div>

    <div class="card-body">

      <!-- Table -->
        <div class="table-responsive">
            <table class="table text-nowrap table-striped table-hover align-middle">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Equity Before</th>
                        <th>Invested Margin</th>
                        <th>PnL</th>
                        <th>Cum PnL</th>
                        <th>Return</th>
                        <th>Equity After</th>
                        <th>Trade Bal</th>
                        <th>Profit Bal</th>
                        <th>DAR</th>
                    </tr>
                </thead>

                <tbody class="fund-table-body">
                    <tr>
                        <td colspan="9" class="text-center text-muted">
                            Select a fund
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
