        
        <!-- Scroll To Top -->
        <div class="scrollToTop">
            <span class="arrow"><i class="ri-arrow-up-s-fill fs-20"></i></span>
        </div>
        <div id="responsive-overlay"></div>
        <!-- Scroll To Top -->

        <!-- Popper JS -->
        <script src="{{ url_for('static', filename='assets/libs/@popperjs/core/umd/popper.min.js') }}"></script>

        <!-- Bootstrap JS -->
        <script src="{{ url_for('static', filename='assets/libs/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

        <!-- Node Waves JS-->
        <script src="{{ url_for('static', filename='assets/libs/node-waves/waves.min.js') }}"></script>

        <!-- Simplebar JS -->
        <script src="{{ url_for('static', filename='assets/libs/simplebar/simplebar.min.js') }}"></script>
        <script src="{{ url_for('static', filename='assets/js/simplebar.js') }}"></script>

        <!-- Color Picker JS -->
        <script src="{{ url_for('static', filename='assets/libs/@simonwep/pickr/pickr.es5.min.js') }}"></script>

        <!-- Defaultmenu JS -->
        <script src="{{ url_for('static', filename='assets/js/defaultmenu.js') }}"></script>