
        <!-- Node Waves Css -->
        <link href="{{ url_for('static', filename='assets/libs/node-waves/waves.min.css') }}" rel="stylesheet" > 

        <!-- Simplebar Css -->
        <link href="{{ url_for('static', filename='assets/libs/simplebar/simplebar.min.css') }}" rel="stylesheet" >

        <!-- Color Picker Css -->
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/libs/flatpickr/flatpickr.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/libs/@simonwep/pickr/themes/nano.min.css') }}">

        <!-- Choices Css -->
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/libs/choices.js/public/assets/styles/choices.min.css') }}">

        <!-- Choices JS -->
        <script src="{{ url_for('static', filename='assets/libs/choices.js/public/assets/scripts/choices.min.js') }}"></script>